{% extends 'editordb/base_editordb.html' %}

{% block title %}

    Delete device

{% endblock %}

{% block content %}

<h2 style="margin: 0;position: absolute;top: 25%;left: 50%;margin-right: -50%;transform: translate(-50%, -50%)">Are you sure you want delete device with this ip address <b>{{device.ip_address}}</b>?</h2>

<form method="POST" action="{% url 'delete_device_url' id=device.id %}" style="margin-left:1000px;">
    {% csrf_token %}

    <input type="submit" value="Delete" class="btn btn-dark btn-lg" style="margin: 0;position: absolute;top: 35%;left: 50%;margin-right: -50%;transform: translate(-50%, -50%)">
</form>

{% endblock %}
